# PostgreSQL (локально: порт с хоста; в Docker Compose: host = db)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/quiz"

JWT_SECRET="change-me-min-32-characters-long-secret!!"
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
